
@{
    ViewBag.Title = "Index";
}

<div style="margin-top:50px">


    <div>

        <label id="changes" style="font-weight: 0;"> </label>

    </div>

    <button  class="btn btn-primary" btn>Showtext</button>
    <button  class="btn btn-primary" btn>Bold</button>
    <button  class="btn btn-primary" btn>Italic</button>
    <button  class="btn btn-primary" btn>Underline</button>
    <button  class="btn btn-warning" btn>Reset</button>

</div>

@Scripts.Render("~/Scripts/test2.js")
